.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.carousel-dots span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d8d8d8;
  margin: 0 5px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.carousel-dots span.active {
  background-color: #44b3f3;
}

